<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/public.css'%}" />
		<link rel="stylesheet" href="{% static 'css/Navbar.css'%}" />
		<link rel="stylesheet" href="{% static 'css/Add-Modify.css'%}" />
		<title>Add Employee</title>
	</head>
	<body>
		{% include 'Navbar/HRNavBar.html' %}
		<div class="Conatiner">
			<form action="" method="POST" class="Add">
				{% csrf_token %}
				<div class="humRe">
					<p>Add an Employee</p>
				</div>
				<hr class="hrE" />
				{% comment %}
				<div>{{ form.userName.label_tag }} {{ form.userName }}</div>
				<div>{{ form.Email.label_tag }} {{ form.Email }}</div>
				<div>{{ form.Address.label_tag }} {{ form.Address }}</div>
				<div>{{ form.PhoneNumber.label_tag }} {{ form.PhoneNumber }}</div>
				<div>{{ form.gender.label_tag }} {{ form.gender }}</div>
				<div>{{ form.MaritalStatus.label_tag }} {{ form.MaritalStatus }}</div>
				<div>{{ form.Birth_Date.label_tag }} {{ form.Birth_Date }}</div>
				<div>{{ form.Job_Title.label_tag }} {{ form.Job_Title }}</div>
				<div>{{ form.Salary.label_tag }} {{ form.Salary }}</div>
				<div>{{ form.VacationDays.label_tag }} {{ form.VacationDays }}</div>
				{% endcomment %}
				<div>{{ form.as_p }}</div>
				<!-- <hr /> -->
				<input type="submit" class="send" value="Add" />
			</form>
			<!-- hello  -->
		</div>
		{% comment %}
		<script src="{% static 'js/AddEmployee.js' %}"></script>
		{% endcomment %}
	</body>
</html>
