<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/public.css" />
    <link rel="stylesheet" href="css/Navbar.css" />
    <link rel="stylesheet" href="css/Add-Modify.css" />
    <link rel="stylesheet" href="css/forgetPass.css" />
    <title>Add Employee</title>
  </head>
  <body>
    <div class="header">
      <div class="containerNav">
        <a href="H Home.html" title="HR-System">
          <img
            class="logo"
            src="images/hr-logo-zip-file (1)/png/logo-no-background.png"
          />
        </a>
        <div class="links">
          <span class="icons">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <ul>
            <li></li>
            <li><a href="H Home.html">Home</a></li>
            <li><a href="Add Employee.html">Add an Employee</a></li>
            <li class="test">
              <a href="Show Employees.html">List/Search Employees</a>
            </li>
            <li><a href="Show Vactions.html">Vacations Request</a></li>
            <li><a href="Submit Vacation.html">Submit a Vacation</a></li>
            <li><a href="Home.html">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Conatiner">
      <form action="" method="post" class="Add">
        <div>
          <label>New password:</label>
          <input
            type="text"
            required
            name="newPass"
            placeholder="Write the new password"
          />
        </div>
        <!-- <hr /> -->

        <!-- <hr /> -->
        <div>
          <label>Confirm password: </label>
          <input
            type="text"
            id="confirm"
            name="confirmPass"
            required
            placeholder="Confirm the new password"
          />
        </div>
      </form>
    </div>
    <!-- <script src="js/AddEmployee.js"></script> -->
  </body>
</html>
