<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="{% static 'css/public.css'%}" />
		<link rel="stylesheet" href="{% static 'css/login.css'%}" />

		<title>Log in</title>
	</head>
	<body>
		<div class="container">
			<section>
				<div>
					<span>
						<img
							src="{% static 'images/hr-logo-zip-file (1)/png/logo-no-background.png' %}"
						/>
					</span>
					<h2>Log In</h2>
				</div>
				<hr />
				{% comment %} {% if messages %}
				<div class="alert alert-danger" role="alert">
					{% for message in messages %} {{ message }} {% endfor %}
				</div>
				{% endif %} {% endcomment %}
				<div>
					<form action="" method="POST">
						{% csrf_token %} {% comment %}
						<label class="label" for="Username">Username</label>
						<input
							type="text"
							name="Username"
							required
							placeholder="Write Your Username"
						/>
						<label class="label" for="password">Password</label>
						<input
							type="password"
							required
							name="password"
							placeholder="Write Your password"
						/>
						{% endcomment %} {{form}}
						<input type="submit" class="send" value="Send" />
					</form>
				</div>
				<div>
					<a href="#">Forgot Password?</a>
				</div>
			</section>
			{% comment %}
			<script src="{% static 'js/login.js' %}"></script>
			{% endcomment %}
		</div>
	</body>
</html>
