<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/public.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Add-Modify.css' %}">
    <!-- <link rel="stylesheet" href="css/Modify.css"> -->
    <title>Update Employee</title>
  </head>
  <body>
    {% include 'Navbar/HRNavBar.html' %}
    <section class="Conatiner">
    <form method="post" class = "Add">
      {% csrf_token %}
      <div>{{ form.as_p }}</div>
      <div class="submited">
        <input type="submit" value="Update" class="send"/>
        <input type="submit" value="Delete" class="send" />
      </div>
      </form>
      <script src="{% static 'js/Edit.js' %}"></script>
  </body>
</html>
