<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vacation Page</title>
  <link rel="stylesheet" href="{% static 'css/public.css'%}" />
  <link rel="stylesheet" href="{%static 'css/Navbar.css'%}" />
  <link rel="stylesheet" href="{%static 'css/Table.css'%}" />
  </head>
  <body>
  {% include 'Parts/Mnavbar.html' %}
    <section class="Conatiner">
    <h1 class="caption">Vacations Page Action</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Employee/HR Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Reason</th>
            <th>Approval Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for vac in Vacations %}
          <tr>
            <td id="ID">{{ vac.EmployeeID }}</td>
            <td>
              {% for emp in Employees %}
                {% if emp.ID == vac.EmployeeID %}
                  {{ emp.userName }}
                {% endif %}
              {% endfor %}
              {% comment %}
              {% for hr in HRs %}
                {% if hr.ID == vac.employeeID %}
                  {{ hr.username }}
                {% endif %}
              {% endfor %}
              {% endcomment %}
            </td>
            <td>{{ vac.startDate }}</td>
            <td>{{ vac.endDate }}</td>
            <td>{{ vac.reason }}</td>
            <td>
              <span class="dot"></span><span class="status">{{ vac.status }}</span>
            </td>
            <td>
              <div>
                <form method="POST" action="{% url 'UpdateStatus' vac.ID %}">
                  {% csrf_token %}
                  <button class="approve" type="submit" name="status" value="Approved">Approve</button>
                  <button class="reject" type="submit" name="status" value="Rejected">Reject</button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
      <script src="{%static 'js/VaccAction.js'%}"></script>
  </body>
</html>
