.Add{
    width: 40%;
    margin-left: auto;
    margin-right: auto;

}
.Conatiner{
    padding: 10px;
}
.Add div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.Add div label{
    max-width: 250px;
    word-wrap: break-word;
    text-align: left;
}
.Date, .Gender{
    padding: 10px;
    width: 215px;
    border: 2px solid rgb(232, 229, 229);
    border-radius: 12.5px;
    box-shadow: 2px 2px 2px var(--shadow-color);
    transition: 1s;
    font-size: 16px;
    outline: none;
}

.send{
    width: 100px;
    text-align: center;
}
