.submited{
    width: 70%;
    margin: auto;
}

.submited .send{
    width: 50%;
    margin-top: 20px;
}
.submited .send:first-child{
    margin-right: 10px;
}
.Add div{
    margin-bottom: 15px;
}