section {
	box-shadow: none;
	border: none;
}

.send {
	width: 100px;
	margin: 20px 0px 35px 0px;
	text-align: center;
}
.Father {
	margin-top: 10px;
}

.Father form {
	padding: 20px 20px 0px 25px;
	box-shadow: 3px 3px 3px var(--shadow-color);
	border-radius: var(--raduis-size);
	width: max-content;
	margin: auto;
	text-align: center;
	background-color: rgb(252, 253, 253);
	border: 3px solid rgba(232, 229, 229, 0.602);
}
.cap h1 {
	text-align: center;
	margin: 20px auto;
	font-size: 30px;
	font-weight: bolder;
	color: rgb(11, 32, 135);
}

.Date {
	transition: 0s;
}

label {
	font-size: medium;
}
